@model List<Casgem_DapperProject.DAL.Entities.Headings>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class=" container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HeadingID</td>
                <td>@item.HeadingName</td>
                <td>@item.HeadingStatus</td>
                <td><a class="btn btn-warning" href="/Heading/DeleteHeading/@item.HeadingID">Sil</a></td>
                <td><a class="btn btn-success" href="/Heading/UpdateHeading/@item.HeadingID">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Heading/AddHeadding" class="btn btn-outline-info">Yeni Başlık</a>
</div>