@model Casgem_DapperProject.DAL.Entities.Headings

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <input type="hidden" asp-for="HeadingID"/>
        <label>Başlık Adı</label>
        <input type="text" class="form-control" asp-for="HeadingName" />
        <br />
        <label>Başlık Durum</label>
        <div>
            <label>
                <input type="radio" asp-for="HeadingStatus" value="true" /> True
            </label>
        </div>
        <div>
            <label>
                <input type="radio" asp-for="HeadingStatus" value="false" /> False
            </label>
        </div>
        <br />
        <button class="btn btn-outline-primary">Başlığı Güncelle</button>
    </form>
</div>